footer
  .footer-wrapper
    .footer-content.container
      .brand-logo 
        img(src="/imgs/logo_full_light.png" alt="InstaProtek Brand Logo")
      .footer-navbar
        h2 Navigate
        ul 
          li 
            a(href="#")  About 
          li 
            a(href="#") Contact Us 
          li 
            a(href="#") Terms & Conditions
      .footer-contact-us
        h2 Contact Us
        ul 
          li 
            i.fa.fa-map-marker
            span 1 Wrigley Irvine, CA 92618
          li 
            i.fa.fa-phone
            span 888-800-5938 
          li 
            i.fa.fa-envelope
            span For Inquiries: Info@intotoware.com
    .footer-horizontal-rule.container
    .footer-copyright.container 
      .copyright  
        span 	&copy;2019 instaProtek, Inc. All Rights Reserved | instaProtek Respects your privacy.
      .powered-by   
        span Powered by {dna:micro}
script(src="./js/app.js") 
script(src="./js/phone_function.js") 
script(src="./js/hamburger.js") 
//- library for css animation
script(src="./js/dependencies.js") 
script(src="./js/animate.js")



