section.section2
  .section2-wrapper.container
    .card1-container 
      .card-wrapper
        .card-item-content-left
          img(src="/imgs/ipad-mini-2-mobile-tablet-png.png" alt="Gadgets like tablet and iPhone")
        .card-item-content-right
          h3 For your Smartphone, Tablet and Accessories 
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit, sed diam
    .card2-container
      .card-flex-container
        .card-item-2
          .card-item-content
            h3 For your Wearables
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit, sed diam
            img(src="/imgs/android_wear_watches-930x465.png" alt="Different watches")
        .card-item-3
          .card-item-content
            h3 For your Computer & Accessories 
            p Lorem ipsum dolor, sit amet consectetur
            img(src="/imgs/laptop.png" alt="Laptop")
    .section2-button
      button
        a(href="#")  Explore