header.main-header
  .container.header-wrapper
    nav.brand
      a(href="/")
        img(src="/imgs/Logo.png" alt="instaProtek Logo")
    .nav-menu.hide
      .menu-item
        ul
          li 
            a(href="#Home") Home
          li.dropdown    
            a(href="#Products") Products
              span  
                i.fa.fa-caret-down
            .product-content
              a(href="#Product1") Product 1
              a(href="#Product2") Product 2
          li
            a(href="#Corporate") Corporate
              span  
                i.fa.fa-caret-down
          li
            a(href="#Buy Protection") Buy Protection
    .menu-button 
      button.page-button
        a(href="#")  Sign In 
    .responsive-menu
      span.hamburger
        i.fa.fa-bars
