.page-wrapper
  section.container.section-hero
    .slides-caption-left
      .hero-info
        p Warranty Program 
        h1.title Protection Plans for 
        p.subtitle All Electornics
        p.description A Low-Cost and Painless Protection Coverage to Avoid Future inconvinence Because Accidents Happen.
        div.page-button 
          button
            a(href="#") Get Started Now
      .hero-ads
        a(href="google.com")
          img.hero-logos(src="/imgs/Mask Group 3.png" alt="Google Play Logo")
        a(href="apple.com")
          img.hero-logos(src="/imgs/Mask Group 2.png" alt="Apps Store Logo")
      .hero-brands
        h2 trusted by brands:
  .section.hero-footer
    .hero-footer-content
      p Lorem ipsum, dolor sit amet consectetur.
      button
        a(href="#")  Download App 