section.section3 
  .section3-wrapper
    .section3-header-content
      .section3-image-wrapper
        img(src="/imgs/Group 1179.png" alt="Mobile green circle logo")
      .section3-info-details 
        h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit, sed diam nonumy eirmod et.
    .section3-main-content.animatedParent
      .section3-content-left
        .section3-button-upper-left
          button.button1.btnclass
            span  1
        .section3-upper-left-content
          h2 Lorem Ipsum
          p Lorem ipsum dolor sit amet consectetur adipisicing elit, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem Ipsum Dolor Sit Amet,
        .section3-button-bottom-left
          button.button3.btnclass
            span  3
        .section3-bottom-left-content
          h2 Lorem Ipsum
          p Lorem ipsum dolor sit amet consectetur adipisicing elit, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem Ipsum Dolor Sit Amet,
      .section3-content-center.animated.fadeInUp.delay-250
        .phone_wrapper
          img.image1(src="/imgs/Phone1.png" alt="Mobile Phone with a phone product on screen display")
      .section3-content-right
        .section3-button-upper-right
          button.button2.btnclass
            span  2
        .section3-upper-right-content
          h2 Lorem Ipsum
          p Lorem ipsum dolor sit amet consectetur adipisicing elit, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem Ipsum Dolor Sit Amet,
        .section3-button-bottom-right
          button.button4.btnclass
            span  4
        .section3-bottom-right-content
          h2 Lorem Ipsum
          p Lorem ipsum dolor sit amet consectetur adipisicing elit, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem Ipsum Dolor Sit Amet,