section.section4
  .section4-wrapper.container
    .section4-main-content
      .imgResponsive
        img(src="/imgs/Group 1180.png") 
      .left-content-video.hide
        img.modal_img(src="/imgs/Group 1189.png" alt="")
section.section5.container 
  .section5-wrapper-container
    .section5-main-content
      h2 Same Reliable Coverage at Lower Prices! 
      h2.details iPhone X 64GB ($999.99)
      p 2-year warranty with accidental damage
      img(src="/imgs/Group 1028.png" alt="Price Chart with instaProtek the lowest price on the list ")
section.section6.animatedParent
  .section6-wrapper-container
    .content-left-img
    .section6-main-content.container
      .left-content
        img.front(src="/imgs/Image 2.png" alt="Dashboard with pie chart")
        img.back(src="/imgs/2-crop.png" alt="Dashboard")
      .right-content.animated.fadeInRight.delay-250
        img(src="/imgs/Group 1178.png" alt="Produc guarantee circle logo")
        h2 Product Guarantee 
        p Inlelligent and modern app-based solution built for electronic products distributors. It's a cost-efficient tool made to help increase business revenue and customer satisfaction by settings products apart from the competition through dependadble product guarantee services.
        button 
          a(href="#") Learn More
  .section6-footer 
    img(src="/imgs/Path-new.png" alt="wave")
section.section7.container 
  .section7-wrapper
    .section7-main-container.animatedParent
      .section7-content-right.animated.fadeInLeft
        img(src="/imgs/Group 1182.png" alt="Gadget green logo")
        h2 Product Guarantee 
        h2 & Protection Platform 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem Ipsum Dolor Sit Amet,
        button
          a(href="#")  Contact Us
      .section7-content-left
        img(src="/imgs/Group 1032.png" alt="Laptop and phone")
      img.line(src="/imgs/Group 1164.png" alt="Two uneven lines")