.horizontal-rule.container
section.section8.container 
  .section8-wrapper.animatedParent
    .section8-left-image.animated.fadeIn.go.delay-1000
      img(src="/imgs/Group 1134.png" alt="Guy holding a phone")
    .section8-right-reviews
      h2 Reliable! 
      p "Lorem ipsum dolor sit amet consectetur adipisicing elit, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem Ipsum Dolor Sit Amet,"
      span John Doe 
      .rating-box 
        <span class="rating-star full-star first-star"></span>
        <span class="rating-star full-star"></span>
        <span class="rating-star full-star"></span>
        <span class="rating-star full-star"></span>
        <span class="rating-star full-star"></span>
section.section9.container
  .section9-wrapper.animatedParent
    .section9-content-left 
      .section9-content-details
        h2 Frequently asked questions 
        p If you have any other questions about our device insurance, you can checkout our common questions here! 
        .list-container
          .common-question-list
            p How do I register my device? 
            p What is the step by step process of registration using the app?
            p How long does my limited warranty last?
            p How can I file a claim?
          .plus-sign
            .plus
              span &#43;
            .plus
              span &#43;
            .plus
              span &#43;
            .plus
              span &#43;
    .section9-content-right.animated.growIn.go.delay-1000
      img(src="/imgs/FAQS.png" alt="FAQ logo")
section.section10
  .section10-wrapper
    .section10-left-content  
      img(src="/imgs/Group 1149.png" alt="")
    .section10-right-content
      h2 Protect your electronics the way you protect your money.
      p No-hassle. Electronics protection with the tap of a finger.
      a(href="www.google.com")
        img.ios(src="/imgs/Mask Group 2.png" alt="")
      a(href="www.apple.com")
        img.android(src="/imgs/Mask Group 3.png" alt="")