section.container.section1
  .section1-content
    .section1-info
      img(src="/imgs/Group 1167.png" alt="T green logo")
      h2.animated Why instaProtek?
    .section-container.animatedParent
      .section-right-container
        .section-right-content.animated.fadeInRight.delay-250
          h2.title On Demand, Easy To Use, App Driven Protection.
          p.desc Lorem ipsum dolor, sit amet consectetur adipisicing elit, sed diam nonumy eirmod et.
      .section-right-details-container
        .section-right-details.animated.fadeInRight.delay-500
          .list-item
            i.fa.fa-check 
              span Affordable
            p Smart platform combined with sophisticated app allowing for lower cost and deductible.
          .list-item
            i.fa.fa-check 
              span  Easy to use
            p On-demand, easy-to-use, app-driven protection that enables purchases with the push of a button.
          .list-item 
            i.fa.fa-check 
              span Competitive
            p Unmatched nationwide coverage backed by a top-rated provider and reliable 24/7 support.
      .section-left-container
        .section-left-content.animated.fadeInLeft.delay-1500
          h2 Protect your electronics, the way you protect your money.
          p No-hassle, electronics protection with the tap of a finger.
          .menu-button 
            button
              a(href="#")  Download App 
      .section1-image
        img(src="/imgs/Asset 10@300x-9.png" alt="Guy on a cloud sliding with a mobile phone at the bottom")
.section1-footer.animatedParent
  .section1-footer-content
    h2.title instaProtek App
    p.description Frictionless, app-driven registration and communication
    img.app-crop.animated.fadeInUp.delay-250(src="/imgs/Instaprotek-App.png" alt="Mobile phones with instraProtek on screen display")