doctype html
html
  head
    title instaProtek
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/index.css")
    link(rel="stylesheet" href="./css/animate.css")
    meta(name="description" content="this is a sample description")
    meta(name="keywords" content="this is sample keyword")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  body 
    include ./includes/header
    include ./includes/hero-section
    include ./includes/why-instaprotek
    include ./includes/gadget-accessories
    include ./includes/phone-info 
    include ./includes/product-info
    include ./includes/reviews-faq
    include ./includes/footer



















